/* Estos son ejemplos de selectores basicos en CSS */

/* Selector tipo elemento */
body{
    font-family: 'Arial', sans-serif;
}
span { 
    background-color: black; 
    color: white;
}

/* Selector tipo clase */
.subheading {
    color: blue;
}

/* Selector tipo id */
#textred{
    color:crimson;
    font-size: 85%;
}

/* Selector específico */
p#colorYellow{
    background-color: yellow;
    color: white;
    }
p#colorBlue{
    background-color: darkblue;
    color: white;
    }
p#colorRed{
    background-color: red;
    color: white;
    }

/* Selector descendiente */
div span {
    background-color: DodgerBlue;
}

/* Selectores agrupados */
h1, h3, h5 {
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
font-style: italic;
}

article h3, article h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: oblique;
}